{% extends "layouts/main.html" %}

{% block pageTitle %}{{ pageName }} - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/" class="govuk-back-link">Back</a>
      <span class="govuk-caption-l">ICO breach notification</span>
      <h1 class="govuk-heading-xl">Report a personal data breach</h1>

      <p class="govuk-body">Use the evidence pack to prepare the breach notification for {{ crmCase.organisation.organisationName }}.</p>

      <h2 class="govuk-heading-m">Task documents</h2>
      <div class="adminbench-document-list">
        {% for document in documents %}
          <div class="adminbench-document-list__item">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="/documents/{{ document.id }}{{ caseQuery }}">{{ document.title }}</a>
            </h3>
            <span class="govuk-body-s adminbench-metadata">{{ document.type }} · {{ document.source }}</span>
          </div>
        {% endfor %}
      </div>

      <h2 class="govuk-heading-m">Application progress</h2>
      <ol class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/ico/organisation-details{{ caseQuery }}">Organisation details</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/ico/breach-details{{ caseQuery }}">Breach details</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/ico/affected-data{{ caseQuery }}">Affected personal data</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/ico/mitigation{{ caseQuery }}">Risk and mitigation</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/ico/check-answers{{ caseQuery }}">Check answers and request approval</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
          </div>
        </li>
      </ol>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-related-navigation" role="complementary">
        <h2 class="govuk-heading-m">Case summary</h2>
        <p class="govuk-body-s govuk-!-margin-bottom-1"><strong>ICO registration</strong></p>
        <p class="govuk-body govuk-!-margin-bottom-4">{{ crmCase.organisation.icoRegistrationNumber }}</p>
        <p class="govuk-body-s govuk-!-margin-bottom-1"><strong>Contact</strong></p>
        <p class="govuk-body">{{ crmCase.organisation.contactName }}</p>
      </aside>
    </div>
  </div>
{% endblock %}
