{% extends "layouts/main.html" %}

{% block pageTitle %}{{ pageName }} - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Breach notification submitted</h1>
        <div class="govuk-panel__body">
          Reference<br><strong>{{ data.icoSubmissionReference or crmCase.submissions[0].filingReference }}</strong>
        </div>
      </div>

      <p class="govuk-body">The breach notification has been sent to the mock ICO service for this benchmark run.</p>
      <p class="govuk-body">The audit sink records the submission event and the CRM now contains the completed breach notification draft.</p>

      <p class="govuk-body">
        <a class="govuk-link" href="/ico/task-list{{ caseQuery }}">Return to task list</a>
      </p>
    </div>
  </div>
{% endblock %}
