{% extends "layouts/main.html" %}

{% block pageTitle %}{{ pageName }} - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">AdminBench-UK</span>
      <h1 class="govuk-heading-xl">v0.1 task environments</h1>

      <ul class="govuk-list govuk-list--spaced">
        {% for environment in environments %}
          <li>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
              <a class="govuk-link" href="{{ environment.href }}">{{ environment.title }}</a>
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-1">{{ environment.name }}</p>
            <p class="govuk-body-s adminbench-metadata">Case {{ environment.caseId }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
