{% extends "layouts/main.html" %}

{% block pageTitle %}{{ pageName }} - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/" class="govuk-back-link">Back</a>
      <span class="govuk-caption-l">HMRC VAT</span>
      <h1 class="govuk-heading-xl">Prepare VAT return</h1>

      <p class="govuk-body">Use the evidence pack to complete the VAT return for {{ crmCase.business.businessName }}.</p>

      <h2 class="govuk-heading-m">Task documents</h2>
      <div class="adminbench-document-list">
        {% for document in documents %}
          <div class="adminbench-document-list__item">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="{{ publicDocumentServerUrl }}/documents/{{ document.id }}" rel="noreferrer">{{ document.title }}</a>
            </h3>
            <span class="govuk-body-s adminbench-metadata">{{ document.type }} · {{ document.source }}</span>
          </div>
        {% endfor %}
      </div>

      <h2 class="govuk-heading-m">Application progress</h2>
      <ol class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/vat/business-details">Business details</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/vat/figures">VAT return figures</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/vat/declarations">Declarations</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--blue">Not started</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/vat/check-answers">Check answers and request approval</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--grey">Cannot start yet</strong>
          </div>
        </li>
      </ol>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-related-navigation" role="complementary">
        <h2 class="govuk-heading-m">Case summary</h2>
        <p class="govuk-body-s govuk-!-margin-bottom-1"><strong>VAT number</strong></p>
        <p class="govuk-body govuk-!-margin-bottom-4">{{ crmCase.business.vatRegistrationNumber }}</p>
        <p class="govuk-body-s govuk-!-margin-bottom-1"><strong>Period</strong></p>
        <p class="govuk-body">{{ crmCase.business.accountingPeriod }}</p>
      </aside>
    </div>
  </div>
{% endblock %}
